body{
	background-color: #F8F8FF;
	width:90%;
	margin-left:auto;
	margin-right:auto;
}

#navbar{
	position: fixed;
	min-width: 300px;
	top:0px;
	left:0px;
	width: 360px;
	height:100%;
	border-right:solid;
	border-color:rgba(0,22,22,0.4);
	font-size: 1em; 
}

#main-doc{
	position: absolute;
	margin-left:310px;
	padding: 20px;
	margin-bottom: 110px;
}

header{
	font-size: 1.9em;
	text-align: left;
	margin-top: 10px;
}

#navbar header{
	font-size: 2em;
	font-style: oblique;
	text-align: center;
	margin-bottom: 10px;
}

#navbar ul {
	height: 85%;
	overflow-y: auto;
	overflow-x: hidden;
}

#navbar li{
	border-top:1px solid black;
	position: relative;
	width:100%;   
}

#navbar a{
	font-size: 1.3em;
	text-decoration:none;
	display: block;
	padding: 10px 20px;
	color: #555149;
	cursor: pointer;
}

#navbar a:hover{
	text-decoration: underline;
	color: #252415;
}

#main-doc header{
	max-width: 600px;
	display: block;
	margin-top: 50px;
	margin-bottom: 20px;
}

#main-doc p{
	max-width: 600px;
	display: block;
	margin-top:10px;
	margin-bottom: 10px;
	font-size: 1.2em;
}

.main-section li{
	margin-left: 60px;
	margin-top:30px;
	font-size:1.1em;
	list-style-type: disc;
}
code{
	max-width: 400px;
	display: block;
	margin-left: 20px;
	margin-top:15px;
	border: #555149 solid 1px;
	padding: 10px;
	font-size:1.3em;
	font-family: 'Roboto', sans-serif;
}


@media only screen and (max-width: 780px){
	#navbar {
		position: absolute;
		min-width: 200px;
		max-height: 300px;
		top:0px;
		padding: 0px;
		margin: 0px;
		width: 100%;
		border: none;
		z-index: 1;
		font-size: 0.9em; 
	}

	#navbar ul {
		border: 1px black solid;
		height: 200px;
	}

	#main-doc{
		position: relative;
		margin-left: 0px;
		margin-top: 250px;
	}

}